:root {
    --index-size: 25px;;
}
h1 {
    font-size: 3em;
}

h2 {
    background-color: rgb(221, 196, 245);
    padding: 10px;
}

h3 {
    margin-left: var(--index-size);
}
h4 {
    font-style: italic;
    font-weight: lighter;
    margin-left: calc(var(--index-size)*2);
}

.bodyText{
    margin-left: calc(var(--index-size)*3);
}

.navigation {
    background-color: rgb(56, 27, 73);
    list-style-type: none;
    overflow: hidden;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    float: left;
    padding: 10px;
}

.footer {
    background-color: rgb(73, 62, 75);
    list-style-type: none;
    overflow: hidden;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    float: left;
    padding: 10px;
}

.footer a:visited{
    color:rgb(176, 225, 255);
}

.dropdown {
    display:none;
}

.dropdownReveal {
    display:block;
}